<div id='cart'>
  <% if @cart.item_quantities.empty? %>
    <%= @cart.empty_message %>
  <% else %>
    <% @cart.item_quantities.each do |item, quantity| %>
      <%= render partial: 'shared/item_list', locals: { item: item } %>
      <%= link_to 'Remove', cart_item_path(item), method: 'delete' %>
    <% end %>
  <% end %>
  <h3>Total: <%= number_to_currency @cart.total %></h3>
</div>
<% if current_user %>
  <%= button_to 'Checkout' %>
<% else %>
  <%= link_to 'Login or Create Account to Checkout', login_path %>
<% end %>
