<div class='container'>
<div id='cart'>
  <% if @cart.item_quantities.empty? %>
    <%= @cart.empty_message %>
  <% else %>
    <% @cart.item_quantities.each do |item, quantity| %>
      <%= render partial: 'shared/item_list', locals: { item: item } %>
      <div class='row'>
        <div class='col-md-4'>
          Number in cart: <%= quantity %>
          <%= form_for :cart_items, url: cart_item_path(item), method: 'put' do |f|  %>
          <div class="field">
            <%= f.label "Update Quantity:"  %>
            <%= f.number_field :quantity, value: "#{quantity}" %>
            <%= f.submit "Update Item"%>
          </div>
          <% end %>
        </div>
        <div class='col-md-4'>
          <%= link_to 'Remove', cart_item_path(item), method: 'delete' %>
        </div>
        <div class='col-md-4'>
          Subtotal: <%= number_to_currency(item.price * quantity) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div style='float:right'>
<h3>Total: <%= number_to_currency @cart.total %></h3>
<% if current_user %>
  <%= button_to 'Checkout' %>
<% else %>
  <%= link_to 'Login or Create Account to Checkout', login_path %>
<% end %>
</div>
</div>
