<%= form_for(@user) do |f| %>

<% if @user.errors.any? %>
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this record from being saved:</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= f.label :username %>
  <%= f.text_field :username %> <br />
  <%= f.label :name %>
  <%= f.text_field :name %> <br />
  <%= f.label :address %>
  <%= f.text_field :address %> <br />

  <%= f.label :password %>
  <%= f.password_field :password %> <br />
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit %>
<% end %>
