<h1><%= @item.title %></h1>
<div>
  <img src='<%= @item.image %>'/>
</div>
<div>
  <%= @item.description %>
  <% if @item.active? %>
    <%= number_to_currency @item.price %>
  <%end %>
  <%= cart_button(@item) %>
</div>
