<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/nav_bar' %>
    <div class='container'>
    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: "text-#{type} bg-#{type}" %>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
